---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <div>
    <h1>Hola soy el About</h1>
    <div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim numquam
        illo quidem perferendis nam at laboriosam? Tempora eveniet laborum
        fugiat, quae porro totam architecto consequuntur a perspiciatis earum
        voluptatibus vel! Lorem ipsum, dolor sit amet consectetur adipisicing
        elit. Quo reprehenderit nihil fugit quibusdam! Possimus ratione minus
        quibusdam nisi vel molestiae quae amet quia voluptates ipsum! Nam
        reprehenderit voluptatibus nesciunt esse.
      </p>
    </div>
  </div>
</MainLayout>
