
body{
    max-width: 1200px;
    margin: auto 0;
}
.article-content{
    max-width: 800px;
    margin: auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    line-height: 1.8;
    color: #333;
}

.article-content h1 {
    font-size: 90px;
    color: #222;
}

.article-content h2 {
    font-size: 2rem;
    color: #444;
}

.article-content p {
    font-size: 1.2rem;
    color: #555;
}

.article-content a {
    color: #0077cc;
    text-decoration: none;
}

.article-content a:hover {
    text-decoration: underline;
}